<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Overview</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/main">Home</a></div>

    <div class="menu-option"><a href="/cart">Cart</a></div>

    <div class="menu-selected"><a href="/account">Account</a></div>

    <div class="menu-search">

        <input type="text" placeholder="Search" class="menu-search"/>

        <button id="search-button">Search</button>

    </div>

</div>
<div>
    <p th:text="'Name: ' +${userSession.name}"></p>
    <p th:text="'Username: ' + ${userSession.username}"></p>
    <p th:text="'Email: ' + ${userSession.email}"></p>
    <a href="/admin-actions"><p th:if="userSession.isAdmin" th:text="'Admin Actions'"></p></a>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>


</div>
</body>
</html>
