<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-option"><a href="/cart">Cart</a></div>

    <div class="menu-selected"><a href="/account">Account</a></div>

    <div class="menu-search">

        <form th:action="@{/browse}" method="post">

            <input type="text" placeholder="Search" name="search" class="menu-search"/>

            <button type="submit" class="search-button">Search</button>

        </form>

    </div>

</div>

<div class="red-text flex-column user-account">

    <!--  Display user account information and log out button-->

    <h1>Account Overview</h1>

    <p th:text="'Name: ' +${userSession.name}"></p>

    <p th:text="'Username: ' + ${userSession.username}"></p>

    <p th:text="'Email: ' + ${userSession.email}"></p>

    <a href="/admin-actions" th:if="${userSession.isAdmin}">Admin Actions</a>

    <form th:action="@{/logout}" method="post">

        <button type="submit" class="red-button logout-button">Log out</button>

    </form>

</div>

</body>

</html>
