<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Actions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/main">Home</a></div>

    <div class="menu-option"><a href="/cart">Cart</a></div>

    <div class="menu-selected"><a href="/account">Account</a></div>

    <div class="menu-search">

        <input type="text" placeholder="Search" class="menu-search"/>

        <button type="submit" class="search-button">Search</button>

    </div>

</div>

<div>

    <h1>Admin Actions</h1>

    <a th:href="@{/display-user}">Promote User</a>

    <a th:href="@{/add-inventory}">Add Inventory</a>

    <p>Run Sales Report</p>

</div>

</body>