<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse Inventory</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-selected"><a href="/browse">Home</a></div>

    <div class="menu-option"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

            <form th:action="@{/browse}" method="post">

                <input type="text" placeholder="Search" name="search" class="menu-search"/>

                <button type="submit" class="search-button">Search</button>

            </form>

    </div>

</div>

<p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>

<p th:if="${successMessage}" th:text="${successMessage}"></p>

<div class="inventory-box">
    <div class="container" th:each="item : ${items}">

        <div class="inventory-main">

        <div class="inventory-image">

            <img th:src="${item.imagePath}">

        </div>

        <div class="inventory-info">

            <p th:text="${item.name}"></p>

            <p th:text="${item.formattedPrice}"></p>

            <form th:action="@{/addToCart}" method="post">

                <input type="hidden" name="itemId" th:value="${item.itemId}" />

                <button type="submit">Add to Cart</button>

            </form>

        </div>

        </div>

        <p th:text="${item.description}"></p>

    </div>

</div>

</body>