<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-selected"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

        <form th:action="@{/browse}" method="post">

            <input type="text" placeholder="Search" name="search" class="menu-search"/>

            <button type="submit" class="search-button">Search</button>

        </form>

    </div>

</div>

<div>

    <h1 class="red-text">Shopping Cart</h1>

    <a th:href="@{/browse}">Return to Shopping</a>

    <div class="cart-info">

 <!--  Display all of the items in the cart with -->

        <div class="cart-items-container">

            <div class="cart-item" th:each="item : ${cart.items}">

                <img th:src="${item.imagePath}">

                <div class="cart-item-info">

                    <h1 th:text="${item.name}"></h1>

                    <p th:text="${item.description}"></p>

                    <p th:text="${item.formattedPrice}"></p>

                </div>

                <div class="cart-item-delete">

                    <form th:action="@{/removeItemFromCart}" method="post">

                        <button type="submit" name="itemId" th:value="${item.itemId}">X</button>

                    </form>

                </div>

            </div>

        </div>

            <div class="cart-details">

                <!-- Display cart info (subtotal + taxes)  -->

                <h2 class="red-text">Cart Summary</h2>

                <p th:text="'Estimated Price: ' + ${cart.formattedSubtotal}"></p>

                <form th:action="@{/payment}" method="get">


                    <button class="red-button">Proceed to Checkout</button>
                </form>

            </div>

        </div>

</div>

</body>

</html>
