<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Sign In</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-selected"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

        <input type="text" placeholder="Search" class="menu-search"/>

        <button type="submit" class="search-button">Search</button>

    </div>

</div>
<div>
    <p>Cart</p>

    <div class="cart-items" th:each="item : ${cart.items}">
        <img src="${item.imagePath}">
        <p th:text="${item.name}"></p>
        <p th:text="${item.price}"></p>
        <form th:action="@{/removeItemFromCart}" method="post">
            <button type="submit" name="itemId" th:value="${item.itemId}">X</button>
        </form>

    </div>

    <div class="cart-details">
        <p th:text="'Subtotal: ' + ${cart.subtotal}"></p>
    </div>
</div>
</body>
</html>
