<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Sign In</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-selected"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

        <input type="text" placeholder="Search" class="menu-search"/>

        <button type="submit" class="search-button">Search</button>

    </div>

</div>

<form th:action="process-payment" method="post">

<div class="payment-info">

    <div class="payment-half">

        <div class="headers">

            <h1 class="page-header">Shopping Cart</h1>

            <a class="return-link" href="/browse">Return to Shopping</a>

        </div>

        <div class="shipping-address-box">

            <h2>Shipping Address</h2>

                <div class="shipping-info-box">

                        <label for="name">Name: </label>
                        <input type="text" id="name" name="name" required> <br>

                        <label for="street-address">Street Address: </label>
                        <input type="text" id="street-address" name="street-address" required> <br>

                        <label for="city">City: </label>
                        <input type="text" id="city" name="city" required>

                        <label for="state">State: </label>
                        <input id="state" name="state" required>


                        <label for="zip-code">Zipcode: </label>
                        <input type="text" id="zip-code" name="zip-code" required> <br>

                </div>

        </div>

        <div class="shipping-options-box">

                <label for="shipping">Shipping: </label>
                <select class=shipping-options id="shipping" name="shipping" required>
                    <option disabled selected></option>
                    <option value="ground">Ground $0.00</option>
                    <option value="3day">3 - Day $19</option>
                    <option value="overnight">Overnight $29</option>
                </select>


        </div>

        <div class="card-information-box">

            <h2>Card Information</h2>

            <div class="card-information">


                    <label for="card-number">Card Number *</label> <br>
                    <input class="card-number" type="text" id="card-number" placeholder="Please enter card number." name="card-number" required>

                    <label for="security-code">Security Code *</label>
                    <input class="security-code" type="text" id="security-code" placeholder="3-4 Digits" name="security-code" required> <br>

                    <label for="expiration-date">Expiration Date *</label> <br>
                    <select class="exp-date-month" id="expiration-date" name="month" required>
                        <option value="" disabled selected>Month</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>

                    </select>

                    <label for="expiration-date-year"></label>

                    <select class="exp-date-year" id="expiration-date-year" name="Year" required>

                        <option value="" disabled selected>Year</option>
                        <option value="25">2025</option>
                        <option value="26">2026</option>
                        <option value="27">2027</option>
                        <option value="28">2028</option>
                        <option value="29">2029</option>
                        <option value="30">2030</option>
                        <option value="31">2031</option>

                    </select> <br>

                </div>

            </div>

        </div>

        <div class="cart-summary-half">

            <div class="cart-summary">

                <h2>Cart Summary</h2>
                <p th:text="'Subtotal: ' + ${cart.formattedSubtotal}"></p>
                <p th:text="'Taxes: ' + ${cart.formattedTaxes}"></p>
                <p th:text="'Estimated Grand Total: ' + ${cart.formattedGrandTotal}"></p>

            </div>

            <div class="checkout-button-box">

                <button class="checkout-button">Continue to Order Confirmation</button>

            </div>

          <div class="cart-window-box">

                <h2>Item(s)</h2>

                <div class="cart-window">

                    <div class="payment-cart-item" th:each="item : ${cart.items}">

                        <img th:src="${item.imagePath}">

                        <p th:text="${item.name}"></p>

                        <p th:text="${item.formattedPrice}"></p>


                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

</body>
</html>