<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter Order Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-selected"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

        <form th:action="@{/browse}" method="post">

            <input type="text" placeholder="Search" name="search" class="menu-search"/>

            <button type="submit" class="search-button">Search</button>

        </form>

    </div>

</div>

<h1 class="red-text">Shopping Cart</h1>

<a href="@{/browse}">Return to Shopping</a>

<p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>

<form th:action="@{/process-payment}" method="post">

    <div class="input-screen-box">

        <div class="input-box">

            <div class="address">

                Shipping Address

                <div class="address-input">

                    <label for="name">

                        Name

                        <input id="name" name="name" type="text">

                    </label>

                    <label for="street-address">

                        Street Address

                        <input id="street-address" name="street" type="text">

                    </label>

                    <div class="address-lower">

                        <label for="city">

                            City

                            <input id="city" name="city" type="text">

                        </label>

                        <label for="state">

                            State

                            <input id="state" name="state" type="text" style="max-width:50px;">

                        </label>

                        <label for="zip">

                            Zip

                            <input id="zip" name="zip" type="text">

                        </label>

                    </div>

                </div>

            </div>

            <br>

            <div class="shipping">

                <label for="shipping">

                    Shipping

                    <select id="shipping" name="shipping">

                        <option value="Ground 0">Ground $0</option>

                        <option value="3-Day 19">3-Day $19</option>

                        <option value="Overnight 29">Overnight $29</option>

                    </select>

                </label>

            </div>

            <br>

            <div class="card-info">

                Card Info

                <div class="card-info-input">

                    <label for="card-number">

                        Card Number

                        <input id="card-number" name="cardNumber" type="text">

                    </label>

                    <div class="expiration">

                        Expiration Date

                        <label for="expiration-month">

                            <select id="expiration-month" name="expirationMonth">

                                <option selected value="">Month</option>

                                <option value="01">01</option>

                                <option value="02">02</option>

                                <option value="03">03</option>

                                <option value="04">04</option>

                                <option value="05">05</option>

                                <option value="06">06</option>

                                <option value="07">07</option>

                                <option value="08">08</option>

                                <option value="09">09</option>

                                <option value="10">10</option>

                                <option value="11">11</option>

                                <option value="12">12</option>

                            </select>

                        </label>

                        <label for="expiration-year">

                            <select id="expiration-year" name="expirationYear">

                                <option selected value="">Year</option>

                                <option value="25">2025</option>

                                <option value="26">2026</option>

                                <option value="27">2027</option>

                                <option value="28">2028</option>

                                <option value="29">2029</option>

                                <option value="30">2030</option>

                                <option value="31">2031</option>

                            </select>

                        </label>

                    </div>

                    <label for="security-code">

                        Security Code

                        <input id="security-code" name="securityCode" type="text">

                    </label>

                </div>

            </div>

        </div>

        <div class="cart-summary-box">

            <div class="cart-summary">

                Cart Summary

                <p th:text="'Subtotal: ' + ${cart.formattedSubtotal}"></p>

                <p th:text="'Taxes: ' + ${cart.formattedTaxes}"></p>

            </div>

            <br>

            <div class="payment-button">

                <button type="submit" class ="red-button">Continue to Order Confirmation</button>

            </div>

            <br>

            <div class="payment-cart-items-container">

                Item(s)

                <div class="payment-cart-items">

                    <div class="payment-item" th:each="item : ${cart.items}">

                        <img th:src="${item.imagePath}">

                        <p th:text="${item.name}"></p>

                        <p th:text="${item.formattedPrice}"></p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

</body>

</html>