<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Receipt</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-selected"><a href="/cart">Cart</a></div>

    <div class="menu-option"><a href="/account">Account</a></div>

    <div class="menu-search">

        <form th:action="@{/browse}" method="post">

            <input type="text" placeholder="Search" name="search" class="menu-search"/>

            <button type="submit" class="search-button">Search</button>

        </form>

    </div>

</div>

<div class="thank-you-message">

    <h2 class="thanks">Thank You For Your Order</h2>

    <p class="paragraph1" th:text="'An email confirmation and a copy of this receipt have been sent to ' + ${user.email} + '. If you have not received the email in a few minutes, please refresh your inbox and check your spam/junk folder.'">
    </p>

    <br>

    <p class="paragraph2">
        We will provide you with a follow-up email containing
        your tracking number when your order has been
        handed over to the courier service.
    </p>

    <form th:action="@{/browse}" method="get">

        <button class="continue-shopping" >Continue Shopping</button>

    </form>
</div>

<div class="order-summary">

    <h2 class="summary-header">Order Summary</h2>

    <h3 class="order-number" th:text="'Order # ' + ${orderInfo.orderId}"></h3>

    <h3 class="item-summary">Item(s)</h3>

    <div class="item-summary-container">

        <div class="payment-confirmation-cart-item" th:each="item : ${cart.items}">

            <img th:src="${item.imagePath}">

            <p th:text="${item.name}"></p>

            <p th:text="${item.formattedPrice}"></p>

        </div>

    </div>

    <div class="pricing-summary">

        <p th:text="'Subtotal: ' + ${cart.formattedSubtotal}"></p>
        <p th:text="'Taxes: ' + ${cart.formattedTaxes}"></p>
        <p th:text="'Estimated Grand Total: ' + ${cart.formattedGrandTotal}"></p>

    </div>

    <div class="shipping">

        <h3 class="shipping-header">Shipping</h3>

        <p th:text="${orderInfo.shippingType}"></p>

        <br>

        <p th:text="${orderInfo.streetAddress}"></p>

        <p th:text="${orderInfo.city} + ', ' + ${orderInfo.state.toUpperCase()} + ' ' + ${orderInfo.zip}"></p>

    </div>

    <div class="payment-contact">

        <h3 class="payment-header">Payment & Contact</h3>

        <p th:text="${user.name}"></p>

        <br>

        <p th:text="${user.email}"></p>

        <br>

        <p th:text="'Card ************' + ${orderInfo.creditCardNumber.substring(orderInfo.creditCardNumber.length()-4)}"></p>
    </div>

</div>

</body>

</html>