<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Run Receipt</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-option"><a href="/browse">Home</a></div>

    <div class="menu-option"><a href="/cart">Cart</a></div>

    <div class="menu-selected"><a href="/account">Account</a></div>

    <div class="menu-search">

        <form th:action="@{/browse}" method="post">

            <input type="text" placeholder="Search" class="menu-search"/>

            <button type="submit" class="search-button">Search</button>

        </form>

    </div>

</div>

<a href="/admin-actions"><- Return to Admin Actions</a>

<p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>

<div class="report-body">

    <h1 class="red-text">Sales Report</h1>

    <form th:action="@{/run-report}" method="post">

        <p class="red-text">Please Select How Far Back You Would Like to See the Sales of:</p>

        <div class="report-input">

            <div class="input-days">

                <input type="text" name="time" style="width:50px;">   Day(s)

            </div>

            <br><br>

            <button type="submit" class="red-button">Generate Report</button>

        </div>

    </form>
</div>

</body>

</html>