<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Sign In</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="menu-bar">

    <div class="menu-selected">Home</div>

    <div class="menu-option">Cart</div>

    <div class="menu-option">Account</div>

    <div class="menu-search">

        <input type="text" placeholder="Search" class="menu-search"/>

        <button id="search-button">Search</button>

    </div>

</div>

<div>

</div>

</body>