:root{
    --creamy: #FFF5E4; /*This is the creamish color we will use mostly for the the background*/
    --mahogany: #963640; /*This is the dark red color we will use for everything else*/
    --grey: #47525E /*This is the light grey color we will use for some text*/
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--creamy);
}

.red-button{
    background-color: var(--mahogany);
    color: white;
    width: 300px;
    font-size:16px;
}
.error-message{
        color: red;
}
/* user-credentials will hold all content in the sign in an sign up pages.
 Will be used to horizontally align them */
.user-credentials{
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
}

.logo-display{
    background-color: var(--mahogany);
    color: white;
    text-align: center;
    width:50%;
    height:100%;
    font-family:'Dancing Script',cursive;
}

.input-credentials{
    width:50%;
    text-align:center;
    height:100%;
}

input.user-info{
    border: 2px solid #FFBA5C;
    border-radius: 5px;
    padding:5px;
    width:400px;
    font-size:16px;
}

/* menu-bar will contain the menu that appears at the top of the screen*/
.menu-bar{
    display:flex;
    background-color: var(--mahogany);
    width:100%;
    height:10%;
    height:75px;
    line-height:75px;
    align-items:center;
}

.menu-bar .menu-search{
    margin-left:auto;
    margin-right:25px;
}

.search-button{
    background-color:--var(mahogany);
    color:white;
    border-radius:5px;
}

.menu-option{
    width:10%;
    text-align:center;
    color: var(--creamy);
}

.menu-option:hover{
    color: var(--mahogany);
    background-color: var(--creamy);
}

.menu-option a{
    text-decoration:none;
    color:inherit;
}

.menu-selected{
    display:block;
    color: var(--mahogany);
    background-color: var(--creamy);
    width: 10%;
    text-align: center;
    text-decoration:none;
}

.menu-selected a{
    text-decoration: none;
    color: inherit;
}

input.menu-search{
    background-color: #692A30;
    color: white;
    border-radius: 5px;
    margin-left :auto;
}

/*The inventory classes will be responsible for styling the items in the browse screen*/

.inventory-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    width:100%;
    padding:10px;
}

.inventory-box> * {
    flex: 0 0 48%;
    max-width: 48%;
}

.container{
    content-justify:center;
    border:black 5px solid;
    border-radius:15px;
    background-color:white;
    padding:15px;
    display:flex;
    flex-direction:column;
}

.inventory-main{
    display:flex;
    align-items:center;
}

.inventory-image{
    max-width:250px;
    height:auto;
    width:auto;
}

.inventory-main img{
    max-width:250px;
    width:auto;
    height:auto;
    display:block;
}

.inventory-info{
    flex: 1;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.cart-info{
    display:flex;
    width:90%;
    gap: 20px;
    justify-content:center;
    width:100%;
}

.cart-items-container{
    border-radius:10px;
    background-color:white;
    width:65%
}

.cart-items-container img{
    margin:15px;
}

.cart-items-container p{
    font-size:20px;
}

.cart-details{
    display:flex;
    flex-direction:column;
    width:30%;
    height:15%;
    background-color:white;
    justify-content:center;
    text-align:center;
    padding:10px;
    border-radius:15px;
}

.cart-item{
    display:flex;
    margin:5px;
    color:var(--grey);
}

.payment-info{
    display: flex;
    padding-top: 60px;
    gap: 30px;
}
.payment-half{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 30px;
}
.cart-summary-half{
    display: flex;
    flex-direction: column;

    width: 30%;
    gap: 10px;
}

.headers{
    display: flex;
    align-items: center;

    margin-top: -20px;
    margin-bottom: -20px;
}

.page-header{
    display: flex;
    flex-direction: column;

    margin-top: -40px;
    margin-bottom: -10px;
    margin-right: 40px;

    font-size: 40px;
    color: var(--mahogany);
}
.return-link{
    margin-bottom: 25px;
    font-size: 26px;
}

.shipping-address-box{
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 30px;
    gap: 30px;

    background: white;
    border-radius: 10px;
    border: 2px solid #969FAA
}
.shipping-info-box{
    display: flex;
    flex-direction: column;

    font-size: 26px;

    margin-top: -30px;
    padding: 20px;
    gap: 30px;
    width: 100%;

    background: white;
    border: 2px solid #969FAA
}
.shipping-options-box{
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 30px;
    gap: 30px;

    font-size: 26px;

    background: white;
    border-radius: 10px;
    border: 2px solid #969FAA
}

.shipping-options{
    width: 360px;
    height: 48px;
    margin-left: 20px;

    font-size: 17px;
}

.card-information-box{
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 30px;
    gap: 30px;

    background: white;
    border-radius: 10px;
    border: 2px solid #969FAA
}
.card-information{
    display: flex;
    flex-direction: column;

    margin-top: -30px;
    padding-top: 20px;
    padding-left: 20px;
    gap: 30px;
    width: 100%;

    font-size: 20px;

    background: white;
    border: 2px solid #969FAA
}
.card-number{
    margin-left: 20px;

    width: 397px;
    height: 45px;
}
.exp-date-month{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    width: 207px;
    height: 39px;
}
.exp-date-year{
    margin-top: 10px;

    width: 207px;
    height: 39px;
}
.security-code{
    margin-left: 20px;
    margin-top: 10px;

    width: 168px;
    height: 45px;
}

.cart-summary{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 30px;
    margin-top: 40px;

    background: white;
}

.checkout-button-box{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px;
    gap: 30px;

    background: white;
    border-radius: 10px;
    border: 2px solid #969FAA
}

.checkout-button{
    width: 405px;
    height: 51px;
    margin-left: 20px;

    background-color: var(--mahogany);
    font-size: 26px;
    color: var(--creamy);

    border-radius: 10px;
}

.cart-window-box{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px;

    background: white;


}
.cart-window{
    display: flex;
    flex-wrap:wrap;

    margin-left: 20px;
    width: 415px;
    height: 467px;

    justify-content: center;
    background: #F2F2F2;
}

.payment-cart-item{
    display:flex;
    flex-direction:column;

}

/*  Report classes will stylize the admin reports*/

.report-body{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.report-input{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-days{
    display:flex;
}

.sales-report-window{
    background-color:white;
    border: solid black 10px;
    border-radius:15px;
}