@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


:root{
    --creamy: #FFF5E4; /*This is the creamish color we will use mostly for the the background*/
    --mahogany: #963640; /*This is the dark red color we will use for everything else*/
    --grey: #47525E /*This is the light grey color we will use for some text*/
}

/* styling for elements across the site */
* {
    box-sizing: border-box;
}

html{
    height:100%;
}

body{
    background-color: var(--creamy);
    height:100%;
}

p,div {
    font-size:20px;
}

.red-text{
    color:var(--mahogany);
}

.red-button{
    background-color: var(--mahogany);
    color: white;
    width: 300px;
    font-size:16px;
    border-radius:8px;
}
.error-message{
        color: red;
}

.flex-column{
    display:flex;
    flex-direction:column;
}
/* user-credentials will hold all content in the sign in an sign up pages.
 Will be used to horizontally align them */
.user-credentials{
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
}

.logo-display{
    background-color: var(--mahogany);
    color: white;
    text-align: center;
    width:50%;
    height:100%;
    font-family:'Berkshire Swash',cursive;
}

.logo-display img{
    max-height:50%;
}

.input-credentials{
    width:50%;
    text-align:center;
    height:100%;
}

input.user-info{
    border: 2px solid #FFBA5C;
    border-radius: 5px;
    padding:5px;
    width:400px;
    font-size:16px;
}

/* menu-bar will contain the menu that appears at the top of the screen*/
.menu-bar{
    display:flex;
    background-color: var(--mahogany);
    width:100%;
    height:10%;
    height:50px;
    line-height:75px;
    align-items:center;
}

.menu-bar .menu-search{
    margin-left:auto; /* Used to make the search field appear on the right side of the menu bar */
    margin-right:25px;
}

.search-button{
    background-color:--var(mahogany);
    color:white;
    border-radius:5px;
}

.menu-option{
    width:10%;
    text-align:center;
    color: var(--creamy);
}

.menu-option:hover{ /* Invert menu option colors when the user hovers over it*/
    color: var(--mahogany);
    background-color: var(--creamy);
}

.menu-option a{
    text-decoration:none;
    color:inherit;
}

.menu-selected{
    display:block;
    color: var(--mahogany);
    background-color: var(--creamy);
    width: 10%;
    text-align: center;
    text-decoration:none;
}

.menu-selected a{
    text-decoration: none;
    color: inherit;
}

input.menu-search{
    background-color: #692A30;
    color: white;
    border-radius: 5px;
    margin-left :auto;
}

/*The inventory classes will be responsible for styling the items in the browse screen*/
.inventory-box{
    display:flex;
    flex-wrap:wrap; /* Makes it so that if there are too many elements (exceeds window size) they will wrap onto a new row*/
    justify-content:center;
    gap:20px;
    width:100%;
    padding:10px;
}

.inventory-box> * {
    flex: 0 0 48%; /* Used to make it so that there will be no more than 2 items per row */
    max-width: 48%;
}

.container{
    content-justify:center;
    border:black 5px solid;
    border-radius:15px;
    background-color:white;
    padding:15px;
    display:flex;
    flex-direction:column;
}

.inventory-main{
    display:flex;
    align-items:center;
}

.inventory-image{
    max-width:250px;
    height:auto;
    width:auto;
}

.inventory-main img{
    max-width:250px;
    width:auto;
    height:auto;
    display:block;
}

.inventory-info{
    flex: 1;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

/* The cart classes will be responsible for styling the cart page */
.cart-info{
    display:flex;
    width:90%;
    gap: 20px;
    justify-content:center;
    width:100%;
}

.cart-items-container{
    border-radius:10px;
    background-color:white;
    width:65%
}

.cart-items-container img{
    margin:15px;
}

.cart-details{
    display:flex;
    flex-direction:column;
    width:30%;
    height:15%;
    background-color:white;
    justify-content:center;
    text-align:center;
    padding:10px;
    border-radius:15px;
}

.cart-item{
    display:flex;
    margin:5px;
    color:var(--grey);
    width:100%;
}

.cart-item-delete{
    margin-left:auto;
    margin-right:20px;
    background-color:white;
    border: none;
}

/* the payment classes will stylize the elements on the input payment and order confirmation pages */
.payment-info{
    display: flex;
    padding-top: 60px;
    gap: 30px;
}
.payment-half{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 30px;
}

.payment-cart-items{
    border-radius:7px;
}

.payment-cart-item{
    display:flex;
    flex-direction:column;
}

.input-screen-box{
    display:flex;
    gap:15px;
    padding:20px;
    align-items:flex-start;
}

.input-box{
    display:flex;
    width:70%;
    flex-direction:column;
    border-radius:10px;
    height: calc(100vh - 50px);
}

.input-box > div{
    background-color:white;
    border-radius:8px;
    padding: 5px;

}
.address-block{
    margin: 4px 0;
}

.address{
    display:flex;
    flex-direction:column;
    height:35%;
    padding:10px;
}

.address-input{
    flex:1;
    border: black solid 1px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-radius:8px;
    padding:5px;
}

.address-lower{
    display:flex;
}

.shipping{
    display:flex;
    flex-direction:column;
    height:15%;
    justify-content:center;
    padding:5px;
}

.card-info{
    display:flex;
    flex-direction:column;
    height:35%;
    padding:5px;
}

.card-info-input{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:100%;
    border: black solid 1px;
    padding:3px;
    border-radius:8px;
}

.expiration{
    display:flex;
}

.cart-summary-box{
    display:flex;
    flex-direction:column;
}

.cart-summary{
    background-color:white;
    border-radius:8px;
    padding:20px;
}

.payment-button{
    display:flex;
    background-color:white;
    border-radius:8px;
    justify-content:center;
    padding:10px;
}

.payment-cart-items-container{
    background-color:white;
    padding:8px;
    border-radius:8px;
}

.payment-cart-items{
    background-color:#dbd7d7;
    display:flex;
    flex-wrap:wrap;
    padding:5px;
}

.payment-item{
    display:flex;
    flex-direction:column;
    flex:0 0 45%;
    align-items:center;
}

.payment-item img{
    max-width:47%;
}

/* Receipt classes will format the receipt screen*/
.receipt-body{
    display:flex;
    width:100%;
}

.thank-you-message{
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    max-width:60%;
    height: calc(100vh - 50px);
}

.thank-you-message > *{
    width:100%;
    display:flex;
    justify-content:center;
}

.thank-you-message > p{
    width:100%;
    text-align:center;
}

.payment-contact p{
    margin: 5px 0;
}

.order-summary-box{
    background-color:white;
    padding:10px;
}

.partial{
    width:90%;
}

.vertical-line{
    width:1px;
    align-self:stretch; /*Provided by ChatGPT*/
    background-color:black;
    margin:3px;
}

.receipt-user-info{
    display:flex;
}

.receipt-paragraph{
    width:60%;
}

.user-account{
   align-items:center;
}

logout-button{
    border-radius:12px;
    height:15%;
    width:10%;
}

.admin-actions{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
}

.admin-actions-body{
    display:flex;
    flex-direction:column;
    height:50%;
    justify-content:space-between;
    align-items:center;
}

.admin-actions-body a{
    margin: 5px 0;
}

.add-inventory{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.add-inventory > *{
    margin: 15px 0;
}

.add-inventory input{
    border-color:var(--mahogany);
}

.user-select-body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.user-select-body > *{
    margin: 15px 0;
}

.user-select-body form div{
    margin:15px 0;
}

/*  Report classes will stylize the admin reports*/

.report-body{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.report-input{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-days{
    display:flex;
}

.sales-report-body{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:90%;
}

.sales-report-window{
    background-color:white;
    border: solid black 10px;
    border-radius:15px;
    display:flex;
    justify-content:center;
    width:100%;
}

.report-item{
    display:flex;
    gap:30px;
}

.report-info{
    display:flex;
    flex-direction:column;
}

.report-info p{
    margin:5px;
}

.report-items-container{
    display:flex;
    flex-direction:column;
}

.user-select-body{
    display:flex;
    flex-direction:column
}