:root{
    --creamy: #FFF5E4; /*This is the creamish color we will use mostly for the the background*/
    --mahogany: #963640; /*This is the dark red color we will use for everything else*/
    --grey: #47525E /*This is the light grey color we will use for some text*/
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--creamy);
}

.red-button{
    background-color: var(--mahogany);
    color: white;
    width: 300px;
    font-size:16px;
}
/* user-credentials will hold all content in the sign in an sign up pages.
 Will be used to horizontally align them */
.user-credentials{
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
}

.logo-display{
    background-color: var(--mahogany);
    color: white;
    text-align: center;
    width:50%;
    height:100%;
    font-family:'Dancing Script',cursive;
}

.input-credentials{
    width:50%;
    text-align:center;
    height:100%;
}

input.user-info{
    border: 2px solid #FFBA5C;
    border-radius: 5px;
    padding:5px;
    width:400px;
    font-size:16px;
}

/* menu-bar will contain the menu that appears at the top of the screen*/
.menu-bar{
    display:flex;
    background-color: var(--mahogany);
    width:100%;
    height:10%;
    height:75px;
    line-height:75px;
    align-items:center;
}

.menu-bar .menu-search{
    margin-left:auto;
    margin-right:25px;
}

.search-button{
    background-color:--var(mahogany);
    color:white;
    border-radius:5px;
}

.menu-option{
    width:10%;
    text-align:center;
    color: var(--creamy);
}

.menu-option:hover{
    color: var(--mahogany);
    background-color: var(--creamy);
}

.menu-option a{
    text-decoration:none;
    color:inherit;
}

.menu-selected{
    display:block;
    color: var(--mahogany);
    background-color: var(--creamy);
    width: 10%;
    text-align: center;
    text-decoration:none;
}

.menu-selected a{
    text-decoration: none;
    color: inherit;
}

input.menu-search{
    background-color: #692A30;
    color: white;
    border-radius: 5px;
    margin-left :auto;
}

.error-message{
    color: red;
}

/*The inventory classes will be responsible for styling the items in the browse screen*/

.inventory-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    width:100%;
    padding:10px;
}

.container{
    content-justify:center;
    border:black 5px solid;
    border-radius:15px;
    background-color:white;
    padding:15px;
    min-width:40%;
    display:flex;
    flex-direction:column;
}

.inventory-main{
    display:flex;
    align-items:center;
}

.inventory-image{
    max-width:250px;
    height:auto;
    width:auto;
}

.inventory-main img{
    max-width:250px;
    width:auto;
    height:auto;
    display:block;
}

.inventory-info{
    flex: 1;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.cart-info{
    display:flex;
    width:90%;
    gap: 20px;
    justify-content:center;
    width:100%;
}

.cart-items-container{
    border-radius:10px;
    background-color:white;
    width:65%
}

.cart-items-container img{
    margin:15px;
}

.cart-items-container p{
    font-size:20px;
}

.cart-details{
    display:flex;
    flex-direction:column;
    width:30%;
    height:15%;
    background-color:white;
    justify-content:center;
    text-align:center;
    padding:10px;
    border-radius:15px;
}

.cart-item{
    display:flex;
    margin:5px;
    color:var(--grey);
}

/*  Report classes will stylize the admin reports*/

.report-body{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.report-input{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-days{
    display:flex;
}